.panel-core-title{
	padding: 10px 15px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.range-time{
  color: #333;
  background-color: transparent;
  border-color: transparent;
  margin: 0 20px;
  padding-left: 50px;
  outline: none;
  position: relative;
  margin-left: -35px;
}
.panel-core-title .glyphicon{
	position: relative;
	margin-left: 35px;
}
.picScroll-left{
	overflow:hidden; 
	position:relative;
	width: 100%;
	}

.picScroll-left ul{
	width: 150%;
	overflow: hidden;
	height: 400px;
	position: relative;
}

.picScroll-left ul li{ 
	margin-top: 50px;
	height: 300px;
	width: 13.3333333333333333333%;
	margin-left: 2.66666666666666666%;
	display: inline-block;
	_display:inline; 
	text-align:center; 
	border: 1px solid #ddd; 
	overflow: hidden;
}
.picScroll-left a.next,.picScroll-left a.prev{
	display:block;  
	width:40px; 
	height:40px;  
	margin-right:5px; 
	margin-top:10px;  
	overflow:hidden;
	cursor:pointer; 
	background:url("../img/icon_right.png") center center no-repeat;
	position: absolute;
	z-index: 100;
}
.picScroll-left a.prev{
	left: -8px;
	top: 150px;
	-moz-transform:rotate(180deg); 
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.picScroll-left a.next{
	right: -10px;
	top: 150px;
}
.coreDatalabel{
	width: 100%;
	height: 50%;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	overflow: hidden;
	padding: 10px;
	
}
.coreDatalabel p{
	font-size: 22px;
	margin-top: 40px;
}
.coreDatalabelbottom{
	width: 100%;
	height: 50%;
	overflow: hidden;
	position: relative;
}
.coreDatalabelbottom p{
	position: absolute;
	font-size: 22px;
	top: 80px;
	width: 100%;
	left: -10px;
	text-align: center;

}
.coreDatalabelbottom p i{color: red;}
.coreDatalabel-lastday{
	position: relative;
	padding: 10px;
	width: 50%;
	height: 150px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}
.coreDatalabel-lastweekday{
	position: relative;
	padding: 10px;
	width: 50%;
	height: 150px;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

.table-condensed th{text-align: center}
caption.text-right{margin-bottom: 15px;}
.analysisPbutton{margin-bottom: 0}
.analysisPbutton li{float: left;margin:10px;cursor: pointer;}
.analysisPbutton li.active{color: red;}
.analysisPbutton button{float: left}
.analysisData{border: 1px solid #ddd;}
